<p style="color: green"><%= notice %></p>

<%= render @bottle_type %>

<div>
  <%= link_to "Edit this bottle type", edit_bottle_type_path(@bottle_type) %> |
  <%= link_to "Back to bottle types", bottle_types_path %>

  <%= button_to "Destroy this bottle type", @bottle_type, method: :delete %>
</div>
