<%= form_with(model: food_subtype) do |form| %>
  <% if food_subtype.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(food_subtype.errors.count, "error") %> prohibited this food_subtype from being saved:</h2>

      <ul>
        <% food_subtype.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :food_type_id, style: "display: block" %>
    <%= form.text_field :food_type_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
