<p style="color: green"><%= notice %></p>

<%= render @wine_type %>

<div>
  <%= link_to "Edit this wine type", edit_wine_type_path(@wine_type) %> |
  <%= link_to "Back to wine types", wine_types_path %>

  <%= button_to "Destroy this wine type", @wine_type, method: :delete %>
</div>
